body {
  background: #ffffff;
  font-family: fangsong;
}

a {
  text-decoration: none;

}

.content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.fontSize {
  font-size: large;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  background-color: #15dcff;
  overflow: hidden;
  border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav li {
  float: left;
  color: #f2f2f2;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  width: 80px;
}

.topnav li a {
  color: #ffffff;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav li a:hover {
  color: rgb(0, 78, 85);
}

.blogTitle {
  color: #006f83;
  text-align: center;
  border-bottom: 1px solid;
  padding: 14px;
}

.blogDetails {
  text-align: justify;
}